name: Auto Update Sub
on:
  schedule:
    - cron: '0 */6 * * *' # 每6小时运行一次
  workflow_dispatch:      # 支持手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install
        run: pip install -r requirements.txt
      - name: Run
        run: python main.py
      - name: Push
        run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@github.com"
          git add subscribe.txt
          git commit -m "Update nodes" || exit 0
          git push
